* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    width: 100vw;
    height: 100vh;
    background-image: url("/img/mainbg.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-image {
  height: 500px;
  width: 800px;
  background-image: url(/img/startmenu.png);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-button, .instructions-button, .credits-button {
  width: 90px;
  height: 32px;
  margin-bottom: 4px;
  border-style: none;
}

.start-button {
  margin-top: 206px;
}


