* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* @font-face {
  font-family: rainyHearts;
  src: url(/font/rainyhearts.ttf);
} */

body {
    width: 100vw;
    height: 100vh;
    background-image: url("./img/Backgrounds/mainbg.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
  font-family: 'VCR OSD Mono', sans-serif;
  color:  rgb(216, 216, 216);     
  letter-spacing: 10px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  padding-bottom: 20px;                                    
}

.menu-image {
  height: 500px;
  width: 800px;
  background-image: url("./img/Backgrounds/startmenu.png");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 203px;
}

a {
  height: 35px;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 200px;
  height: 250px;
  background-color: #c2b1f1f1;
  color: #fff;
  font-family: rainyHearts;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.arrows {
  width: 100px;
  height: 100px;
}


